# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "64bf2e7b47bb0196716d5fdcb77089c8"
name = "shop_manager_app"
application_url = "https://monkey-tight-lab.ngrok-free.app/"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_locations, read_assigned_fulfillment_orders,read_fulfillments,read_orders,write_fulfillments,write_orders"
optional_scopes = [ "read_products", "write_products" ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://127.0.0.1:8000/accounts/shops/callback/",
  "https://127.0.0.1:8000/accounts/shops/callback",
  "https://monkey-tight-lab.ngrok-free.app/accounts/shops/callback/",
  "https://monkey-tight-lab.ngrok-free.app/accounts/shops/callback"
]
